body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $book-font-weight;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  font-weight: $light-font-weight;
  line-height: $heading-line-height;
  margin: 0;
}

h1 {
  color: $purple;
  font-size: modular-scale(8);
  font-weight: $bold-font-weight;
  text-align: center;

  @include breakpoint(small) {
    font-size: modular-scale(6);
  }
}

h2 {
  font-size: modular-scale(4);

  @include breakpoint(small) {
    font-size: modular-scale(3);
  }
}

h3 {
  font-size: modular-scale(3);

  @include breakpoint(small) {
    font-size: modular-scale(1);
  }
}

p {
  font-size: modular-scale(1);
  line-height: 1.6;
  margin: 0;

  @include breakpoint(small) {
    font-size: modular-scale(0);
  }
}

p + p {
  display: block;
  margin-top: spacing(medium);

  @include breakpoint(small) {
    margin-top: spacing(x-small);
  }
}